<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Example </title>

    <script type="text/plain" src="/resources/js/jquery-3.1.0.min.js"
            th:src="@{/resources/js/jquery-3.1.0.min.js}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>

</head>

<body>
<div class="container">
    <div th:replace="fragments/header :: 'header'"></div>

    <h2>
        <span th::if="${tour.isNew}">New </span> Tour
    </h2>
    <form th:action="@{/addTour}" th:object="${tourDto}" method="post" class="form-horizontal">


        <div class="control-group">
            <label class="control-label">Date</label>
            <input th:field="${tourDto.date}" name="date" type="text" id="datepicker" th:value="date"/>
            <span class="help-inline" th:errors="*{date}">[error]</span>
        </div>
        <div class="control-group">
            <label class="control-label">Type</label>
            <select th:field="*{type}">
                <option th:each="t : ${T(com.sda.iManu.domain.Type).values()}" th:text="${t}" th:value="${t}"></option>
            </select>
        </div>
        <div class="control-group">
            <label class="control-label">Country</label>
            <select th:field="*{country}">
                <option th:each="ctr : ${T(com.sda.iManu.domain.Country).values()}" th:text="${ctr}"
                        th:value="${ctr}"></option>
            </select>
        </div>
        <div class="controls">
            <label class="control-label">Departure port</label>
            <input type="text" th:field="${tourDto.departurePort}"/>
            <span class="help-inline" th:errors="*{departurePort}">[error]</span>
        </div>
        <div class="controls">
            <label class="control-label">Price</label>
            <input type="text" th:field="${tourDto.price}"/>
            <span class="help-inline" th:errors="*{price}">[error]</span>
        </div>
        <div class="controls">
            <label class="control-label">Duration</label>
            <input type="text" th:field="${tourDto.duration}"/>
            <span class="help-inline" th:errors="*{duration}">[error]</span>
        </div>
        <div class="controls">
            <label class="control-label">Capacity</label>
            <input type="text" th:field="${tourDto.capacity}"/>
            <span class="help-inline" th:errors="*{capacity}">[error]</span>
        </div>
        <div class="controls">
            <label class="control-label">Description</label>
            <input type="text" th:field="${tourDto.description}"/>
            <span class="help-inline" th:errors="*{description}">[error]</span>
        </div>
        <div class="controls">
            <label class="control-label">Hotel</label>
            <select th:field="*{hotel}">
                <option th:each="currentHotel : ${hotels}" th:text="${currentHotel}" th:value="${currentHotel}"></option>
            </select>
        </div>

        <div class="form-actions">
<!--            <button th:if="${tour.isNew}" type="submit">Add Tour</button>
            <button th:unless="${tour.isNew}" type="submit">Update Tour</button>-->
            <button type="submit">Add Tour</button>
        </div>
    </form>
</div>

<table th:replace="fragments/footer :: footer" class="footer">

</table>
<script type="text/javascript">
  function() {
    $("#datepicker").datepicker();
  }
  </script>
</body>
</html>
