<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Example </title>

    <script type="text/plain" src="/resources/js/jquery-3.1.0.min.js"
            th:src="@{/resources/js/jquery-3.1.0.min.js}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>

</head>

<body>
<div class="container">
    <div th:replace="fragments/header :: 'header'"></div>

    <h2>
        <span th::if="${user.isNew}">New </span> User
    </h2>
    <form th:action="@{/createUser}" th:object="${userDto}" method="post" class="form-horizontal">
        <label class="control-label">First Name</label>
        <div class="controls">
            <input type="text" th:field="${userDto.firstName}"/>
            <span class="help-inline" th:errors="*{firstName}">[error]</span>
        </div>
        <label class="control-label">Last Name</label>
        <div class="controls">
            <input type="text" th:field="${userDto.lastName}"/>
            <span class="help-inline" th:errors="*{lastName}">[error]</span>
        </div>
        <label class="control-label">Login</label>
        <div class="controls">
            <input type="text" th:field="${userDto.login}"/>
            <span class="help-inline" th:errors="*{login}">[error]</span>
        </div>
        <label class="control-label">Password</label>
        <div class="controls">
            <input type="password" id="pass" th:field="${userDto.password}"/>
            <span class="help-inline" th:errors="*{password}">[error]</span>
        </div>
        <label class="control-label">Confirm password</label>
        <div class="controls">
            <input type="password" id="passRepeat" th:field="${userDto.passwordRepeat}"/>
            <span class="help-inline" th:errors="*{passwordRepeat}">[error]</span>
        </div>
        <label class="control-label">Email</label>
        <div class="controls">
            <input type="email" th:field="${userDto.email}"/>
            <span class="help-inline" th:errors="*{email}">[error]</span>
        </div>
        <label class="control-label">Select Your security level</label>
        <div class="control-group">
            <select th:field="*{role}">
                <option th:each="userOrAdmin : ${T(com.sda.iManu.domain.Admin).values()}" th:text="${userOrAdmin}"
                        th:value="${userOrAdmin}"></option>
            </select>
        </div>

        <div class="form-actions">
            <button class="btn btn-primary btn-md" type="submit" onclick="return Validate()">Add User</button>
        </div>
    </form>
</div>

<table th:replace="fragments/footer :: footer" class="footer">

</table>
<script type="text/javascript">
    function Validate() {
        var password = document.getElementById("pass").value;
        var confirmPassword = document.getElementById("passRepeat").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }

</script>
</body>
</html>
