<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Example </title>

    <script type="text/plain" src="/resources/js/jquery-3.1.0.min.js"
            th:src="@{/resources/js/jquery-3.1.0.min.js}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>

</head>

<body>

<div th:replace="fragments/header :: 'header'"></div>


<!--<div class="navbar" style="width: 601px;">-->
    <!--<div class="navbar-inner">-->
        <!--<ul class="nav">-->
            <!--<li style="width: 100px;"><a-->
                    <!--href="/addTour.html" th:href="@{/addTour}"><i-->
                    <!--class="icon-home"></i>Add Tour</a></li>-->
            <!--<li style="width: 130px;"><a-->
                    <!--href="/addHotel.html" th:href="@{/addHotel}"><i-->
                    <!--class="icon-search"></i>Add Hotel</a></li>-->
            <!--<li style="width: 140px;"><a-->
                    <!--href="/tourList.html" th:href="@{/tourList.html}"><i-->
                    <!--class="icon-th-list"></i>List of Tours</a></li>-->
            <!--<li style="width: 90px;"><a-->
                    <!--href="/exception.html" th:href="@{/oups.html}"-->
                    <!--title="trigger a RuntimeException to see how it is handled"><i-->
                    <!--class="icon-warning-sign"></i>Error</a></li>-->
            <!--<li style="width: 80px;"><a-->
                    <!--href="#" th:action="@{/logout}" title="Log Out"><i-->
                    <!--class=" icon-logout-sign"></i>Help</a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

<div th:object=${listOfTours} th:each="currentTour : listOfTours">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Panel heading</div>
        <div class="panel-body">
            <ul>

                <li th:text="*{currentTour.duration}" ></li>
                <li th:value="${currentTour.date}" th:text="date"></li>
                <li th:text="${currentTour.capacity}" ></li>
                <li th:text="${currentTour.departurePort}" ></li>
                <li th:text="${currentTour.hotel}" ></li>
                <li th:text="${currentTour.price}" ></li>
                <li th:text="${currentTour.type}" ></li>
                <li th:text="${currentTour.country}" ></li>
                <li th:text="${currentTour.description}" ></li>
            </ul>
        </div>
        body
        <!-- Table -->
        <table class="table">
            ...
        </table>
        <div class="panel-footer">
            footer
        </div>
    </div>

</div>


<table th:replace="fragments/footer :: footer" class="footer">

</table>

</body>
</html>
