<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Spring Security Example </title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <script type="text/plain" src="/resources/js/jquery-3.1.0.min.js"
            th:src="@{/resources/js/jquery-3.1.0.min.js}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>

</head>

<body>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    to jest wiadomosc dla admina
</div>

<div th:replace="fragments/header :: 'header'"></div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/addHotel.html">Add Hotel</a></li>
                <li><a href="/addTour.html">Add Tour</a></li>
                <li class="active"><a href="/tourList.html">List of Tours</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:action="@{/logout}"><a href="/login.html">Log out!</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div th:each="currentTour : ${listOfTours}">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h2 th:text="*{currentTour.country}"></h2>
            </div>
            <div class="panel-body">
                <ul>
                    <li>
                        <span> Czas trwania wycieczki: </span>
                        <span th:text="*{currentTour.duration}"> </span> dni
                    </li>
                    <li>
                        <span> Dzień wyjazdu:  </span>
                        <span th:text="*{currentTour.date}"></span>
                    </li>
                    <li>
                        <span> Ilość miejsc:  </span>
                        <span th:text="*{currentTour.capacity}"></span>
                    </li>
                    <li>
                        <span> Miejsce zakwaterowania:   </span>
                        <span th:text="*{currentTour.hotel}"></span>
                    </li>
                    <li th:onclick="'seenWhenTrue()'">
                        <span> Port lotniczy:   </span>
                        <span th:text="*{currentTour.departurePort}"></span>
                    </li>
                    <li>
                        <span> Rodzaj transportu: </span>
                        <span th:text="*{currentTour.type}" id="typeOfTour"></span>
                    </li>
                    <li>
                        <span> Opis wycieczki:   </span>
                        <span th:text="*{currentTour.description}"></span>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <h3>Incredible low price <span>BUY NOW</span> it's only:</h3>
                <h3><span th:text="*{currentTour.price}"></span><span> EUR</span></h3>
            </div>
        </div>
    </div>
</div>


<table th:replace="fragments/footer :: footer" class="footer">

</table>
<script>
    function seenWhenTrue() {
        var typeOfTour = document.getElementById("typeOfTour").innerHTML;
        var plane = "PLANE";
        if (typeOfTour == plane) {
            return true;
        }
        return false;
    }

</script>
</body>
</html>
